@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	font-family: 'Inter', sans-serif;
	width: auto;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	background: rgb(226 232 240);
	width: 0.5rem;
	height: 1em;
}

::-webkit-scrollbar-track {
	background: rgb(226 232 240);
	margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
	background: rgb(71 85 105);
	border-radius: 100vw;
	height: 1em;
}

@layer utilities {
	.glass {
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
	}
}
